Exercícios sobre dados quantitativos e qualitativos

## 1. O Serviço de Recursos Humanos de uma empresa norte-americana relatou que os salários anuais para os gerentes assistentes de lojas de departamento variam de 28 mil dólares a 57 mil dólares. Assuma que os seguintes dados são uma amostra dos salários anuais de 40 gerentes assistentes de lojas de departamento (os dados são em mil dólares): 

|||||||||||
|--|--|--|--|--|--|--|--|--|--|
|48 |35 |57 |48 |52 |56 |51 |52 |45 |44 |
|40 |40 |50 |31 |52 |37 |51 |55 |41 |41 |
|47 |45 |46 |42 |53 |43 |44 |46 |45 |39 |
|50 |50 |44 |49 |55 |45 |50 |54 |47 |42 |
         
    a) Qual é a variável em estudo? Qual é o tipo desta variável?
    
    Resp: Salário, em milhares de reais. Variável quantitativa, contínua.

    b) Qual foi o salário mais alto e o mais baixo relatados?

In [6]:
#collapse_input

lista = [48, 35, 57, 48, 52, 56, 51, 52, 45, 44, 
         40, 40, 50, 31, 52, 37, 51, 55, 41, 41, 
         47, 45, 46, 42, 53, 43, 44, 46, 45, 39, 
         50, 50, 44, 49, 55, 45, 50, 54, 47, 42]

minimo = min(lista)
maximo = max(lista)

print('\tResp: Salário Mínimo = {}  Salário Máximo = {}'.format(minimo,maximo))

	Resp: Salário Mínimo = 31  Salário Máximo = 57

    c) Use uma amplitude de classe de 5 mil dólares e o limite inferior da 1ª classe como 30 mil dólares e, monte a tabela de distribuição de frequências (frequência absoluta, frequência absoluta acumulada, frequência relativa (%) e Frequência acumulada relativa (%));

    d) Que porcentagem dos salários anuais é inferior a 35 mil dólares?

    e) Que porcentagem dos salários anuais é superior ou igual a 50 mil  dólares?

    f) Construa um histograma a partir da tabela obtida em b).

In [2]:
lista = [48, 35, 57, 48, 52, 56, 51, 52, 45, 44, 
         40, 40, 50, 31, 52, 37, 51, 55, 41, 41, 
         47, 45, 46, 42, 53, 43, 44, 46, 45, 39, 
         50, 50, 44, 49, 55, 45, 50, 54, 47, 42]

In [3]:
min(lista)

31














    2. A tabela abaixo representa os salários pagos a 150 operários de uma empresa:
 
Salários (em milhares de reais)
Frequência de operários
0|2
50
2|4
40
4|6
20
6|8
25
  8|10
15

    a) Qual é a variável em estudo? Qual é o tipo desta variável?
    b) Qual é a largura das classes?
    c) Quantos operários ganham menos que 6 salários mínimos?
    d) Represente a tabela acima sob a forma de um histograma.

    3. Entrevistamos 15 pessoas com curso superior que informaram os salários (milhares de R$/mês) mostrados abaixo:

0,4
2,5
3,0
3,0
3,0
3,2
3,2
3,5
5,0
5,0
5,0
5,5
6,0
7,4
11

    a) Qual é a variável em estudo? Qual é o tipo desta variável?
    b) Use uma amplitude de classe de 2 mil reais e o limite inferior da 1ª classe como R$0,00 e, monte a tabela de distribuição de frequências (frequência absoluta, frequência absoluta acumulada, frequência relativa (%) e Frequência acumulada relativa (%)); 
    c) Represente a tabela obtida em a) sob a forma de diagrama de pontos.
    d) Represente a tabela obtida em a) sob a forma de um histograma.
    e) Qual é a diferença entre os 2 gráficos? 

    4. Foi feita uma votação em um condomínio para eleger o síndico. Havia três candidatos: Alice, Benedito e Clóvis.
    a) Qual é a variável em estudo? Qual é o tipo desta variável?
    b) Determine o número de votos por pessoa.
    c) Calcule as porcentagens
    d) Apresente os dados em uma tabela.
    e) Apresente os dados em um gráfico.
    f) Verifique se algum dos candidatos obteve maioria absoluta (50% + 1)? 
A votação foi a seguinte: Benedito, Alice, Alice, Clóvis, Alice, Benedito, Benedito, Benedito, Alice, Alice, Clóvis, Alice, Benedito, Benedito, Alice, Clóvis, Benedito, Benedito, Benedito, Alice.

    5. Complete a tabela a seguir:

Classes
Ponto médio
Frequência absoluta
Frequência relativa (%)
Frequência  acumulada



2



12


62  65


6


66,5


84




126


36






225



15





300
Total

## 4. Foi feita uma votação em um condomínio para eleger o síndico. Havia três candidatos: Alice, Benedito e Clóvis.
    a) Qual é a variável em estudo? Qual é o tipo desta variável?
    b) Determine o número de votos por pessoa.
    c) Calcule as porcentagens
    d) Apresente os dados em uma tabela.
    e) Apresente os dados em um gráfico.
    f) Verifique se algum dos candidatos obteve maioria absoluta (50% + 1)? 

A votação foi a seguinte: Benedito, Alice, Alice, Clóvis, Alice, Benedito, Benedito, Benedito, Alice, Alice, Clóvis, Alice, Benedito, Benedito, Alice, Clóvis, Benedito, Benedito, Benedito, Alice.

> a) Qual é a variável em estudo? Qual é o tipo desta variável?
    
    Resp: candidados, qualitativa categórica (3 categorias)

> b) Determine o número de votos por pessoa.

In [46]:
import pandas as pd
votos = ['Benedito', 'Alice', 'Alice', 'Clóvis', 'Alice', 'Benedito', 'Benedito', 'Benedito', 'Alice', 'Alice', 'Clóvis', 'Alice', 'Benedito', 'Benedito', 'Alice', 'Clóvis', 'Benedito', 'Benedito', 'Benedito', 'Alice']
categorias = pd.Series(votos).unique()
categorias
# votos.count()
contagem = {cat:votos.count(cat) for cat in categorias}
df = pd.DataFrame(list(contagem.items()),columns=['candidato','votos'])
df.style

> c) Calcule as porcentagens

In [47]:
total = df['votos'].sum()
df = df.append({'candidato':'total',
           'votos':total},
          ignore_index=True)
# total
df

  candidato  votos
0  Benedito      9
1     Alice      8
2    Clóvis      3
3     total     20

> d) Apresente os dados em uma tabela.

> e) Apresente os dados em um gráfico.

> f) Verifique se algum dos candidatos obteve maioria absoluta (50% + 1)?